* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

#squareCount {
    background-color: lightgray;
}

.sketchContainer {
    width: 960px;
    height: 960px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.boxRow {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    background-color: lightgray;
}

.mouseOver {
    background-color: black;
}

button {
    border: solid black 1px;
    font-size: medium;
    margin-bottom: 20px;
    margin-top: 20px;
}